{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "indent": 2,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  },
  "globals": {
    "describe": true,
    "it": false,
    "xit": false,
    "before": true,
    "beforeEach": true,
    "afterEach": true,
    "document": true
  }
}